.bg_order{ 
background: url(../Image/backImages/background.jpg); 
background-attachment: fixed; 
background-size: cover;
}
.form_info{
width: 427px;
font-family: Arial;
font-size: 16px;
display: inline-block;
background-color: #37393c;
color: white;
}
.form_position{
margin-top:20px;
margin-left:40%;
}	

div {
clear: both;
padding: 8px 0;
overflow: hidden;
}

form {
padding: 20px;
font-family: Arial;
font-size: 13px;
display: inline-block;
background-color: #37393c;
color: white;
}

label {
padding-top: 6px;
line-height: 18px;
float: left;
color: #b6daff;
margin-right: 7px;
width: 120px;
}

input{
display: inline-block;
width: 250px;
height: 18px;
padding: 4px;
line-height: 18px;
color: #efefef;
border: 1px solid #a4a4a4;
background-color: #202223;
-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
transition: border linear 0.2s, box-shadow linear 0.2s;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

input:focus{
border: 1px solid #97b7d9;
outline: none;
-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5), 0 0 8px rgba(151, 183, 217, 0.6);
-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5), 0 0 8px rgba(151, 183, 217, 0.6);
box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5), 0 0 8px rgba(151, 183, 217, 0.6);
}


button {
display: inline-block;
width: auto;
height: auto;
background-color: #3d6182;
background-repeat: repeat-x;
background-image: -khtml-gradient(linear, left top, left bottom, from(#8db7dd), to(#3d6182));
background-image: -moz-linear-gradient(top, #8db7dd, #3d6182);
background-image: -ms-linear-gradient(top, #8db7dd, #3d6182);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8db7dd), color-stop(100%, #3d6182));
background-image: -webkit-linear-gradient(top, #8db7dd, #3d6182);
background-image: -o-linear-gradient(top, #8db7dd, #3d6182);
background-image: linear-gradient(top, #8db7dd, #3d6182);
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
border: 1px solid #19252f;
padding: 8px 17px 9px;
color: white;
cursor: pointer;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
-webkit-transition: 0.1s linear all;
-moz-transition: 0.1s linear all;
transition: 0.1s linear all;
}

button[type=reset] {
background-color: #292929;
background-repeat: repeat-x;
background-image: -khtml-gradient(linear, left top, left bottom, from(#646464), to(#292929));
background-image: -moz-linear-gradient(top, #646464, #292929);
background-image: -ms-linear-gradient(top, #646464, #292929);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #646464), color-stop(100%, #292929));
background-image: -webkit-linear-gradient(top, #646464, #292929);
background-image: -o-linear-gradient(top, #646464, #292929);
background-image: linear-gradient(top, #646464, #292929);
border: 1px solid #161616;
}

button:hover,button[type=reset]:hover {
background-position: 0 -15px;
}

input[type=radio] {
width: auto;
height: auto;
margin-left: 0;
padding: 0;
line-height: normal;
float: left;
border: none;
}

input[disabled] {
background-color: #343536;
border-color: #585858;
cursor: not-allowed;
}

ul {
list-style: none;
margin: 0;
padding: 0;
padding-top: 6px;
float: left;
}

ul li {
display: block;
width: 100%;
clear: both;
margin: 0;
}

ul li label {
float: none;
padding: 0;
width: auto;
margin: 0 0 0 8px;
color: #efefef;
}

option{
display: inline-block;
width: 250px;
height: 18px;
padding: 4px;
line-height: 18px;
color: #efefef;
border: 1px solid #a4a4a4;
background-color: #202223;
-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
transition: border linear 0.2s, box-shadow linear 0.2s;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}	

select{
display: inline-block;
width: 85px;
height: 30px;
padding: 4px;
line-height: 18px;
color: #efefef;
border: 1px solid #a4a4a4;
background-color: #202223;
-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
transition: border linear 0.2s, box-shadow linear 0.2s;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
